body{
    background-color: rgb(152, 228, 251);
    color: rgb(0, 0, 0);
    text-align: center;
}
table, th, td {
    border: 2px solid rgb(21, 21, 81);
    border-collapse: collapse;
    align-items: position: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: rgb(255, 0, 0);
}
p{
    font-size: 20px;
    text-align: center;
    color: rgb(13, 20, 88);}
button{
    align-items: center;
    color: rgb(17, 1, 21);
    background-color: rgb(133, 220, 34);
}